.card-wrapper {
  display: flex;
  flex-flow: row wrap;

  a {
    margin: 10px;
    color: #000;
    text-decoration: none;
  }

  .card {
    max-width: $card-max-width;
    height: 100%;
    margin-bottom: 15px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    img {
      width: 100%;
      height: auto;
    }

    .card-body {
      .card-title {
        margin: 0;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
      }
    }

    .card-footer {
      max-width: 100%;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  }
}
