{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    "react-loadable/babel",
    "dynamic-import-node",
    [
      "file-loader",
      {
        "name": "[hash].[ext]",
        "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
        "publicPath": "/images/pictures",
        "outputPath": "static/images/pictures",
        "context": "",
        "limit": 0
      }
    ]
  ]
}
