$max-page-width: 1024px;
$min-page-width: 360px;
$card-max-width: 200px;

//Colors
$danger-color: #ff4444;
$danger-color-dark: #cc0000;
$success-color: #00c851;
$success-color-dark: #007e33;
$info-color: #33b5e5;
$info-color-dark: #0099cc;
$warning-color: #ffbb33;
$warning-color-dark: #ff8800;
$stylish-color: #4b515d;
$stylish-color-dark: #3e4551;

$red: red;
