.button {
  border: 0;
  text-transform: uppercase;
  padding: 7px 15px;
  color: #fff;
  background-color: $danger-color;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $danger-color-dark;
  }
}

.buttonOutline {
  background-color: transparent;
  padding: 50px;
}
